@media screen and (min-width: 1020px) {
  .header-inner {
    height: 300px;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 840px) {
  .top-header_items ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .top_Selling {
    margin-top: 60px !important;
  }
  .header-inner {
    height: 0px;
    transition: all 0.5s ease;
  }

  .cat-nav-head.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .header-inner.active {
    height: 350px;
  }

  .cat-nav-head {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .cat-nav-head.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media screen and (max-width: 768px) {
  .mega-menu-full-section{
    grid-column: auto;
  }
  body {
    width: 100%;
  }

  .top-header_items ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
}

@media screen and (max-width: 540px) {
  body {
    max-width: 100%;
  }

  .top-header_items ul {
    flex-wrap: wrap;
    /* justify-content: space-between;
    flex-direction: row-reverse; */
    gap: 5px;
    margin-top: 0.5rem;
    margin: bottom 1rem;
  }
  .brand-logo .logo_image {
    max-width: 120px;
  }

  .card_items .items {
    gap: 20px;
  }

  .user,
  .shop,
  .wishlist {
    display: none;
  }

  .user {
    display: block;
  }

  .cat-nav-head {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .sub-category {
    background: #fff;
    width: 100%;
    position: initial;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-left: 0px;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    pointer-events: none;
    height: 0;
  }

  .header-inner {
    height: 0px;
    transition: all 0.5s ease;
  }

  .cat-nav-head.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .header-inner.active {
    height: 350px;
  }

  .product_card .bg-image {
    max-width: 120px;
  }

  .product_card .add-to-btn {
    font-size: 12px;
  }

  .mask .badge {
    font-size: 10px;
  }

  .card_shopcontent .card-title {
    font-size: 11px;
  }

  .card_shopcontent .review-count {
    font-size: 10px;
  }

  .ratings i {
    font-size: 9px;
  }

  .endTime .timebox {
    width: 25px;
    height: 25px;
    font-size: 11px;
  }

  .text h6 {
    font-size: 14px;
  }

  .endTime p {
    font-size: 13px;
  }

  .heading-title h3,
  .headingflash h3,
  .sub_heading h3 {
    font-size: 17px;
  }

  .top_Selling {
    margin-top: 50px !important;
  }

  .mainLiList.active .sub-category {
    display: block;
    pointer-events: visible;
    height: initial;
    opacity: 1;
  }

  .slag_categoryes {
    background-color: transparent !important;
    position: initial;
    left: 0;
    border-left: none !important;
    box-shadow: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    height: 0;
    transition: all 0.4s;
  }

  .sublist.active .slag_categoryes {
    height: inherit;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}